<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>Circle of fifths / 五度圈 / Квинтовый круг</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/tone"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <style>
        .sector {
            fill: ButtonFace;
            stroke: ButtonText;
            stroke-width: 0.01;
        }

        .active {
            fill: AccentColor;
            background-color: AccentColor;
        }

        kbd {
            border: 1px solid ButtonText;
            background-color: ButtonFace;
            padding-left: 0.3em;
            padding-right: 0.3em;
            border-radius: 0.2em
        }
    </style>
</head>
<body>
<div id="app">
    <svg height="80vh" width="100vw" viewBox="-1.1 -1.1 2.2 2.2">
        <rect x="-100%" y="-100%" width="200%" height="200%" fill="Canvas" @mouseover="play(0, 'over');"
              @click="play(0, 'click');"/>
        <g v-for="s in sectors">
            <path :d="s.string" class="sector bigSector" :class="{active: active === s.nameBig}"
                  @mouseover="play(s.nameBig, 'over');" @click="play(s.nameBig, 'click');"
            />
            <path :d="s.string2" class="sector smallSector" :class="{active: active === s.nameSmall}"
                  @mouseover="play(s.nameSmall, 'over');" @click="play(s.nameSmall, 'click');"
            />
            <text dominant-baseline="central" style="pointer-events: none" :x="s.tx0" :y="s.ty0" :font-size="largeFont"
                  :dy="s.altBig ? (-0.3 * smallFont) : 0"
                  text-anchor="middle" class="sectorText">
                {{replacedModifiers(s.nameBig)}}
            </text>
            <text v-if="s.altBig" dominant-baseline="central" style="pointer-events: none; opacity: 0.5" :x="s.tx0"
                  :y="s.ty0" :dy="largeFont * 0.6" :font-size="largeFont / 2"
                  text-anchor="middle">{{replacedModifiers(s.altBig)}}
            </text>

            <text dominant-baseline="central" style="pointer-events: none" :x="s.tx1" :y="s.ty1" :font-size="smallFont"
                  :dy="s.altSmall ? (-0.2 * smallFont) : 0"
                  text-anchor="middle" class="sectorText">
                {{replacedModifiers(s.nameSmall)}}
            </text>
            <text v-if="s.altSmall" dominant-baseline="central" style="pointer-events: none; opacity: 0.5" :x="s.tx1"
                  :y="s.ty1" :dy="smallFont * 0.6" :font-size="smallFont / 2"
                  text-anchor="middle">{{replacedModifiers(s.altSmall)}}
            </text>
        </g>
    </svg>
    <section class="settings">
        <div>
            <label>
                <input type="checkbox" v-model="pureTone">
                pureTone <kbd>{{kbd.pureTone}}</kbd>
            </label>
        </div>
        <div>
            <label>
                <input type="checkbox" v-model="playOnHover">
                playOnHover <kbd>{{kbd.playOnHover}}</kbd>
            </label>
        </div>
<!--        <div v-if="!playOnHover">-->
<!--            <label>-->
<!--                <input type="checkbox" v-model="playAfterRelease">-->
<!--                Continious Tone <kbd>{{kbd.playAfterRelease}}</kbd>-->
<!--            </label>-->
<!--        </div>-->
        <div>
            Octave:
            <button type="button" v-for="n of [1,2,3,4,5,6,7,8,9]" :style="octave !== n ? 'opacity: 30%' : ''"
                    @click="octave = n">{{n}}
            </button>
            &nbsp;<kbd>1-9</kbd>
        </div>
        <div style="margin-top: 1em; font-size: small">
            <a href="https://github.com/survtur/interactive-circle-of-fifths/>Project on Github</a>
        </div>
    </section>


</div>

<script>
    const {createApp} = Vue;
    const kbd = {
        playOnHover: "h",
        pureTone: "t",
        playAfterRelease: "r"
    }

    createApp({
        data() {
            return {
                rotation: 0,
                pureTone: false,
                octave: 3,
                playOnHover: false,
                playAfterRelease: true,

                small_r: 0.4,
                middle_r: 0.65,
                big_r: 1,
                largeFont: 0.16,
                smallFont: 0.08,

                active: false,

                names: [
                    {nameBig: 'C', nameSmall: 'Am'},
                    {nameBig: 'G', nameSmall: 'Em'},
                    {nameBig: 'D', nameSmall: 'Bm'},
                    {nameBig: 'A', nameSmall: 'F#m'},
                    {nameBig: 'E', nameSmall: 'C#m'},
                    {nameBig: 'B', nameSmall: 'G#m'},
                    {nameBig: 'Gb', altBig: "F#", nameSmall: 'Ebm', altSmall: "D#m"},
                    {nameBig: 'Db', altBig: "C#", nameSmall: 'Bbm', altSmall: "A#m"},
                    {nameBig: 'Ab', altBig: "G#", nameSmall: 'Fm'},
                    {nameBig: 'Eb', altBig: "D#", nameSmall: 'Cm'},
                    {nameBig: 'Bb', altBig: "A#", nameSmall: 'Gm'},
                    {nameBig: 'F', nameSmall: 'Dm'},
                ],
                message: 'Hello Vue!'
            }
        },
        computed: {
            sectors() {
                let sectors = []
                for (let n = 0; n < this.names.length; n++) {
                    sectors.push(this.sector(n))
                }
                return sectors
            },
            kbd() {
                return kbd
            }
        },
        methods: {
            replacedModifiers(s) {
                return s.replace("b", "♭").replace("#", "♯")
            },
            play(s, t) {
                if (t === 'over' && this.playOnHover || t === 'click') {
                    this.active = s;
                    playCustom(s, this.octave, this.pureTone,);
                }
            },
            sector(n) {
                let s = {...this.names[n]}
                console.log(n, n.toString(), Number(n))
                let anglePad = this.playOnHover ? 0.07 : 0;
                let spacePad = this.playOnHover ? 0.02 : 0;
                s.angle0 = Math.PI * 2 * (n - 0.5 + anglePad + this.rotation) / this.names.length;
                s.angle1 = Math.PI * 2 * (n + 0.5 - anglePad + this.rotation) / this.names.length;
                s.angle = Math.PI * 2 * (n + this.rotation) / this.names.length;

                s.x0 = Math.sin(s.angle0) * this.big_r
                s.y0 = -Math.cos(s.angle0) * this.big_r

                s.x1 = Math.sin(s.angle1) * this.big_r
                s.y1 = -Math.cos(s.angle1) * this.big_r

                s.x2a = Math.sin(s.angle0) * (this.middle_r + spacePad)
                s.y2a = -Math.cos(s.angle0) * (this.middle_r + spacePad)

                s.x3a = Math.sin(s.angle1) * (this.middle_r + spacePad)
                s.y3a = -Math.cos(s.angle1) * (this.middle_r + spacePad)

                s.x2b = Math.sin(s.angle0) * (this.middle_r - spacePad)
                s.y2b = -Math.cos(s.angle0) * (this.middle_r - spacePad)

                s.x3b = Math.sin(s.angle1) * (this.middle_r - spacePad)
                s.y3b = -Math.cos(s.angle1) * (this.middle_r - spacePad)

                s.x4 = Math.sin(s.angle0) * this.small_r
                s.y4 = -Math.cos(s.angle0) * this.small_r

                s.x5 = Math.sin(s.angle1) * this.small_r
                s.y5 = -Math.cos(s.angle1) * this.small_r

                s.tx0 = Math.sin(s.angle) * (this.big_r + this.middle_r) / 2
                s.ty0 = -Math.cos(s.angle) * (this.big_r + this.middle_r) / 2

                s.tx1 = Math.sin(s.angle) * (this.small_r + this.middle_r) / 2
                s.ty1 = -Math.cos(s.angle) * (this.small_r + this.middle_r) / 2


                s.string = `M ${s.x0} ${s.y0} A ${this.big_r} ${this.big_r} 0 0 1 ${s.x1} ${s.y1}`
                s.string += `L ${s.x3a} ${s.y3a}`
                s.string += `A ${this.middle_r} ${this.middle_r} 0 0 0 ${s.x2a} ${s.y2a}`
                s.string += `Z`

                s.string2 = `M ${s.x2b} ${s.y2b} A ${this.middle_r} ${this.middle_r} 0 0 1 ${s.x3b} ${s.y3b}`
                s.string2 += `L ${s.x5} ${s.y5}`
                s.string2 += `A ${this.small_r} ${this.small_r} 0 0 0 ${s.x4} ${s.y4}`
                s.string2 += `Z`


                return s

            }
        },
        watch: {},
        mounted() {
            hotkeys(kbd.pureTone, () => {
                this.pureTone = !this.pureTone
            });
            hotkeys(kbd.playOnHover, () => {
                this.playOnHover = !this.playOnHover
            });
            hotkeys(kbd.playAfterRelease, () => {
                this.playAfterRelease = !this.playAfterRelease
            });
            hotkeys("1,2,3,4,5,6,7,8,9", (e, h) => {
                this.octave = Number(h.key)
            })
        }
    }).mount('#app')


    const synth = new Tone.PolySynth(Tone.AMSynth).toDestination();
    synth.set({
        "envelope": {
            // "attack":0.05,
            "release": 1,
        }
    });

    function playCustom(chordName, octave, pure) {
        synth.releaseAll();
        if (chordName) {
            let mainTone = chordName.replace("m", "") + octave;
            console.log(mainTone)
            let freq = Tone.Frequency(mainTone)
            let tones;
            if (pure) {
                tones = [freq.transpose(12)]
            } else if (chordName.indexOf("m") === -1) {
                tones = [freq, freq.transpose(16), freq.transpose(4), freq.transpose(7), freq.transpose(-12)]
            } else {
                tones = [freq, freq.transpose(15), freq.transpose(3), freq.transpose(7), freq.transpose(-12)]
            }
            synth.triggerAttack(tones);
        }
    }


</script>

</body>
</html>
